html, body {
    margin: 0;
    padding: 0;
    background: #1F2937;
    color:white;
}
p{
   margin: 0; 
}
::placeholder{
  color: #DEDADF;  
  font-style: italic;
  font-size: 14px;

} 
:focus::placeholder{
    color: transparent;
    transition-duration: 150ms;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}
.subtitle{
    color:#D5D4D8;
}
.passInputs {
 background-image: url("dots.svg");
background-repeat: no-repeat;
background-position: center;
margin: 10px 0 0 10px;
}
input{
    background-color: #273549;
    border:none;
    padding: 5px;
    border-radius: 6px;
    color: #E1DCE2;
}
hr{
  border-top: 1px solid white;
  width: 400px;
}
button{
    padding: 9px;
    border: none;
    border-radius: 6px;
    color:white;
    background-color: #10B981;
    margin-left: 60px;
}
.firstName{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.secondName{
    color: #10B981;
    font-weight: bold;
    font-size: 30px;
}
header{
    margin: 40px 
}
#pasLength{
    margin-left: 30px;
}